@model List<Airline.Models.Ticket>

<table>
    <thead>
        <tr>
            <th>Flight ID</th>
            <th>Tickets</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
        }
    </tbody>
</table>
