@{
    ViewData["Title"] = "Aircraft";
}

@model Airline.Models.ViewModels.CreateAircraftViewModel

<div class="container">
    <h2>Изменение самолета</h2>

    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="Aircraft.TailNumber">Бортовой номер</label>
            <input asp-for="Aircraft.TailNumber" class="form-control" />
            <span asp-validation-for="Aircraft.TailNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Aircraft.OperationalPeriod">Период эксплуатации</label>
            <input asp-for="Aircraft.OperationalPeriod" class="form-control" />
            <span asp-validation-for="Aircraft.OperationalPeriod" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Aircraft.YearOfManufacture">Год создания</label>
            <input asp-for="Aircraft.YearOfManufacture" class="form-control" />
            <span asp-validation-for="Aircraft.YearOfManufacture" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Aircraft.TypeId">Тип самолета</label>
            <select asp-for="Aircraft.TypeId" class="form-control">
                <option value="" disabled selected>Выберите тип самолета</option>
                @foreach (var type in Model.AircraftTypes)
                {
                    <option value=@type.TypeId>@type.Brand</option>
                }
            </select>
            <span asp-validation-for="Aircraft.TypeId" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Aircraft.AircraftId" />
        <button type="submit" class="btn btn-primary">Изменить</button>
        <a asp-action="Index" class="btn btn-secondary">Отменить</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
